#firstdiv {
  border: 5px outset rgb(166, 143, 143);
  background-color: rgb(139, 213, 238);    
  text-align: center;
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}

.myDiv {
  border: 5px outset rgb(143, 222, 244);
  background-color: lightblue;    
  text-align: center;
  height: 200px;
  width: 200px;
  padding-top: 50px;
  margin-top: 20px;
}

.secounddiv
{
  border: 5px outset rgb(166, 143, 143);
  background-color: rgb(139, 213, 238);    
  text-align: center;
  height: 200px;
  width: 200px;
  padding-top: 50px;
  margin-bottom: 20px;
}

#thirddiv{
  border: 5px outset rgb(166, 143, 143);
  background-color: rgb(139, 213, 238);    
  text-align: center;
  height: 200px;
  width: 200px;
  padding-top: 50px;
  margin-bottom: 20px;
}

.forthdiv{
  border: 5px outset rgb(166, 143, 143);
  background-color: rgb(139, 213, 238);    
  text-align: center;
  height: 200px;
  width: 200px;
}